<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="productConfigurationSection" type="CrossCode.Utilities.ProductConfigurationSection, CrossCode.Utilities" />

  </configSections>
  <appSettings>
    <add key="SocketPort" value="2324" />
    <add key="SocketIP" value="127.0.0.1" />
    <add key="NETPluginAPIIP" value="localhost" />
    <add key="NETPluginAPIPort" value="8081" />
    <add key="MiddlewareAPIAccount" value="https://dev-api-csplugin.crosscode.io" />
    <add key="GetAccountLibAPIKey" value="api/v1.0/getAccountLibrary" />
    <add key="GetUniqueIdentifier" value="api/v1.0/generateIdentifier" />
    <add key="GetAssemblyUpdatedAPI" value="api/v1.0/isDecompositionRequired" />
    <add key="LogName" value="NETCSPluginDebug.log" />
    <add key="LogInternalDomainStructure" value="true" />
    <add key="ProcessPIDList" value="12345670" />
    <add key="FilterPID" value="true" />
    <add key="NeedSingleCycleWithDecomNUsage" value="true" />
    <add key="PreventSendingNullDataToMainAgent" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ExcludeExtn" value=".pdf|.config|.pdb|.xml|.InstallState|.InstallLog|.vshost.exe|.vshost.exe.config|.vshost.exe.manifest" />
    <add key="WantToIncludeCVEScore" value="true" />
    <add key="AddCVEInCycleNumber" value="6" />
    <add key="CurrentPluginCycleNumber" value="0" />
    <add key="WebAppDefaultFolder" value="bin" />
    <add key="WebAppDisplayName" value="CSHARP" />
    <add key="EnableHttpAPIPlugin" value="true" />
    <add key="UseDebuggerWindow" value="false" />
    <add key="CaptureProcessMask" value="4" />    <!-- [IIS , StandAlone, Windows Service]  -->
    <add key="ActivateBackgroundService" value="None" /> <!-- valid values ["true , false, installed , Running, uninstalled"]  -->
    <add key="ParallelThreadMask" value="0" /> <!-- valid values [ -,- , DTOProc, DB, Dep]  -->
    <add key="MaxDegreeOfParallelism" value="Max" /><!-- valid values ["Auto , Max, Number of Thread Count = 4"]  -->
  </appSettings>
  <productConfigurationSection>
    <!--<products>
    </products>-->
    <SelectedAccount>
    </SelectedAccount>
    <CompletedAccount>
    </CompletedAccount>
  </productConfigurationSection>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="NETlog.log" />
      <!-- the location where the log file would be created -->
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
      <maxSizeRollBackups value="2" />
      <maximumFileSize value="1MB" />
      <!--<filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="DEBUG" />
      </filter>-->
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>